@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(@assets/fonts/Inter/Inter-Regular.woff2) format('woff2'), url(@assets/fonts/Inter/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(@assets/fonts/Inter/Inter-Medium.woff2) format('woff2'), url(@assets/fonts/Inter/Inter-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 400;
  src: url(@assets/fonts/SuisseIntl/SuisseIntl-Regular.woff2) format('woff2'), url(@assets/fonts/SuisseIntl/SuisseIntl-Regular.woff) format('woff');
}
