.search-form {
  border-bottom: 1px solid #AAA;
}

.search-form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}

.search-form__error {
  margin-top: 37px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .search-form__form {
    flex-direction: column;
    gap: 37px;
  }

  .search-form__error {
    margin-top: 14px;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 480px) {
  .search-form__form {
    gap: 45px;
  }

  .search-form__error {
    margin-top: 8px;
  }
}
