.error {
  max-width: 100%;
  width: 100%;
  min-height: 28px;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  vertical-align: text-bottom;
  text-align: center;
  color: #EE3465;
  margin: 0;
}
