.header {
  background-color: transparent;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px 70px;
}

.header__burger-button {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
}

.header__burger-button_opened {
  position: fixed;
  top: 22px;
  right: 22px;
}

@media screen and (max-width: 768px) {
  .header__content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__content {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__burger-button {
    top: 18px;
    right: 23px;
  }

  .header__burger-button_opened {
    top: 13px;
    right: 13px;
  }
}
