.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 20px;
  padding: 80px 20px 0;
  box-sizing: border-box;
}

.alert__icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.alert__icon_type_empty {
  background-image: url(@assets/images/empty.svg);
}

.alert__icon_type_error {
  background-image: url(@assets/images/error.svg);
}

.alert__text {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  max-width: 340px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.alert__text_type_empty {
  color: #EBEBEB;
}
